<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Message.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0462EA1A1ED56CF0009F3956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0462EA2E1ED56CF0009F3956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0462EA391ED56CF0009F3956</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
